*.o
*.lo
*.a
*.la
*.d
*.acc
*.pb.h
*.pb.cc
*.gcda
*.pyc
*.swp
*~
Makefile
build
build-*
.deps

simulators/bochs/autom4te.cache/
simulators/bochs/bochs
simulators/bochs/build/linux/bochs-dlx
simulators/bochs/build/macosx/Info.plist
simulators/bochs/build/win32/nsis/bochs.nsi
simulators/bochs/bxcommit
simulators/bochs/bximage
simulators/bochs/bxversion.h
simulators/bochs/bxversion.rc
simulators/bochs/config.h
simulators/bochs/config.log
simulators/bochs/config.status
simulators/bochs/libtool
simulators/bochs/ltdlconf.h
simulators/bochs/src
simulators/bochs/tmp
simulators/bochs/install

!simulators/bochs/plex86/kernel/freebsd/Makefile

simulators/gem5/.hg
simulators/gem5/m5out/

src/core/sal/gem5/SConscript

debuggers/openocd/config.h
debuggers/openocd/config.log
debuggers/openocd/config.status
debuggers/openocd/jimtcl/configure.gnu.bak
debuggers/openocd/libtool
debuggers/openocd/openocd_wrapper.hpp
debuggers/openocd/src/.libs/
debuggers/openocd/src/helper/bin2char
debuggers/openocd/src/jtag/minidriver_imp.h
debuggers/openocd/src/openocd
debuggers/openocd/src/startup.tcl
debuggers/openocd/src/startup_tcl.c
debuggers/openocd/src/target/xscale_debug.h
debuggers/openocd/stamp-h1

.idea