*.o
*.a
*.d
*.acc
*.pb.h
*.pb.cc
*.gcda
*.pyc
*~
Makefile
build
build-*

simulators/bochs/autom4te.cache/
simulators/bochs/bochs
simulators/bochs/build/linux/bochs-dlx
simulators/bochs/build/macosx/Info.plist
simulators/bochs/build/win32/nsis/bochs.nsi
simulators/bochs/bxcommit
simulators/bochs/bximage
simulators/bochs/bxversion.h
simulators/bochs/bxversion.rc
simulators/bochs/config.h
simulators/bochs/config.log
simulators/bochs/config.status
simulators/bochs/libtool
simulators/bochs/ltdlconf.h

!simulators/bochs/plex86/kernel/freebsd/Makefile

simulators/gem5/.hg
