*.o
*.a
*.d
*.acc
*.pb.h
*.pb.cc
*.gcda
*~
Makefile
build

bochs/autom4te.cache/
bochs/bochs
bochs/build/linux/bochs-dlx
bochs/build/macosx/Info.plist
bochs/build/win32/nsis/bochs.nsi
bochs/bxcommit
bochs/bximage
bochs/bxversion.h
bochs/bxversion.rc
bochs/config.h
bochs/config.log
bochs/config.status
bochs/libtool
bochs/ltdlconf.h

!bochs/plex86/kernel/freebsd/Makefile

simulators/gem5/*
