Adrian Böckenkamp <adrian.boeckenkamp@tu-dortmund.de>	adrian <adrian@8c4709b5-6ec9-48aa-a5cd-a96041d1645a>
Christoph Borchert <christoph.borchert@tu-dortmund.de>	chb <chb@8c4709b5-6ec9-48aa-a5cd-a96041d1645a>
Horst Schirmeier <horst.schirmeier@tu-dortmund.de>	hsc <hsc@8c4709b5-6ec9-48aa-a5cd-a96041d1645a>
Martin Hoffmann <hoffmann@cs.fau.de>			hoffmann <hoffmann@8c4709b5-6ec9-48aa-a5cd-a96041d1645a>
Martin Unzner <martin.unzner@mailbox.tu-dresden.de>	unzner <unzner@8c4709b5-6ec9-48aa-a5cd-a96041d1645a>
Richard Hellwig <richard.hellwig@gmail.com>		hellwig <hellwig@8c4709b5-6ec9-48aa-a5cd-a96041d1645a>
Tobias Friemel <tobias.friemel@tu-dortmund.de>		friemel <friemel@8c4709b5-6ec9-48aa-a5cd-a96041d1645a>
